<p>meal works!</p>
<h1>
  {{title}}
  <span class="badge badge-primary" [ngClass]="badgeColor() ">
    {{numberOfMeals()}}
  </span>
  <div id="createNewMeal">
      <form>
        <!-- <input type="number" name="id" [(ngModel)]="newMeal.id" placeholder="id"><br> -->
        <input type="text" name="name" [(ngModel)]="newMeal.name" placeholder="Name"><br>
        <input type="text" name="foods" [(ngModel)]="newMeal.foods" placeholder="Foods"><br>
        <input type="number" name="calories" [(ngModel)]="newMeal.calories" placeholder="Calories"><br>
        <input type="number" name="cost" [(ngModel)]="newMeal.cost" placeholder="Cost"><br>
        <input type="submit" value="createNewMeal" (click)="addMeal()">
      </form>
    </div>

  <!-- List all meals -->
  <div id="mealList" *ngIf= "!selectedMeal">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Foods</th>
          <th>Calories</th>
          <th>Cost</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let meal of meals">
          <td (click)="selectedMeal = meal">{{meal.name}}</td>
          <td>{{meal.foods}}</td>
          <td>{{meal.calories}}</td>
          <td>{{meal.cost}}</td>
          <td (click)="deleteMeal(meal.id)"> <button> X </button> </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="selectedMeal">
      <ul>
        <li> {{ selectedMeal | json }} </li>
        <li>Id: {{ selectedMeal.id }}</li>
        <li>Name: {{ selectedMeal.name | uppercase }}</li>
        <li>Foods: {{ selectedMeal.foods }}</li>
        <li>Calories: {{ selectedMeal.calories }}</li>
        <li>Cost: {{ selectedMeal.cost }}</li>
        <td (click)="deleteMeal(selectedMeal.id)"> <button> Delete </button> </td>
      </ul>
      <!-- <button (click) = "selectedMeal = null">Back</button> -->


          <h2>Edit {{selectedMeal.id}}</h2>
          <form>

            <input type = "text" name = "name" [(ngModel)]="selectedMeal.name"> <br>
            <input type="text" name= "foods" [(ngModel)]="selectedMeal.foods" >
            <input type="text" name="calories" [(ngModel)]="selectedMeal.calories" >
            <input type="text" name="cost" [(ngModel)]="selectedMeal.cost" >
            <button (click)="updateMeal()">Save</button>
            <button (click)="selectedMeal = null">Cancel</button>
          </form>
  </div>
